.p {
  font-weight: bold;
  font-size: 1rem;
  margin: 0;
  text-align: left;
}
.media {
  display: flex;
  flex-direction: column;
  width: 58%;
}

.media label {
  align-self: flex-end;
}
.MuiIconButton-root {
  padding: 0;
}
.MuiFormControl-root {
  width: 55%;
}
.btn-container {
  display: flex;
  justify-content: space-between;
  width: 70%;
  padding: 3% 0;
}

.MuiButton-textPrimary {
  height: 1%;
}
.fieldcon {
  margin: 1% 0;
}
